:root {
  --primary-color: #2AF59E;
  --accent-color: #F59E2A;
  --input-text-color: #959BAA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Montserrat', sans-serif;
}